<header>
  <div
    class="p-0 text-center bg-image d-flex justify-content-center align-items-center"
    style="
      background-image:
      linear-gradient(to bottom, transparent, #d9e9f6),
      url('https://images.unsplash.com/photo-1518277748204-ba05cb84d9f5?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      height: 400px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
  >
    <app-city-search (weatherDataChange)="onWeatherDataChange($event)"> </app-city-search>
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100 cover">
        <div class="text-white">
        </div>
      </div>
    </div>
  </div>
</header>

<div style="background: linear-gradient(0deg, rgb(11 36 65) 15%, rgba(16, 105, 227, 0.15738795518207283) 84%); padding: 20px;">
  <div class="weather-card text-white">
    <h3>Clima: {{ cityName }}</h3>
    <div class="weather-info">
      <div>
        <p>🌡️ Temperatura: <span>{{ currentTemperature }} °C</span></p>
      </div>
      <div>
        <p>💨 Vento: <span>{{ currentWindSpeed }} m/s</span></p>
      </div>
      <div>
        <p>💧 Umidità: <span>{{ currentHumidity }} %</span></p>
      </div>
    </div>

    <h3 class="temperature-trend-title">Andamento della temperatura (prossime 24 ore)</h3>
    <canvas baseChart
            #chart
            [datasets]="temperatureData.datasets"
            [labels]="temperatureData.labels"
            [options]="chartOptions"
            [legend]="true"
            [type]="'line'">
    </canvas>
  </div>

  <footer class="footer">
    <p>Seguimi su:</p>
    <a href="https://www.hackerrank.com/profile/leeitooocabj" target="_blank"><i class="fa-brands fa-hackerrank"></i> Hackerrank</a>
    <a href="https://www.linkedin.com/in/leandro-moyano199712/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
    <a href="https://github.com/LeaaJr" target="_blank"><i class="fab fa-github"></i> GitHub</a>
  </footer>
</div>
