// Estilo para el input
.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
  position: relative;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  text-align: center; 


  &::placeholder {
    text-align: center;
  }
}


.search-input:focus {
  box-shadow: 0 0 5px rgb(2, 119, 243);
}

// Contenedor para los botones de búsqueda y favoritos
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

// Contenedor general del header
.header-content {
  position: relative;
  height: 400px;
  overflow: hidden;
}

// Contenedor de ciudades favoritas, ubicado en la parte inferior del header
.favorites-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
}


.city-card {
  background-color: transparent;
  color: black;
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin: 5px;
}


.favorite-cities-container {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x: auto;
}


.city-info {
  display: flex;
  align-items: center;
  font-size: 14px;
}

// Botón de eliminar con icono de basura
.remove-btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
  margin-left: 8px;
  transition: color 0.3s;
}

.remove-btn:hover{
  color: red;
}

h4 {
color: white;
}