<div>
  <input [(ngModel)]="cityName" placeholder="Buscar ciudad" class="search-input" />

  <div class="button-container">
    <button (click)="searchWeather()" class="btn btn-primary">Buscar Clima</button>
    <button (click)="saveFavoriteCity()" class="btn btn-secondary">
      <i class="fas fa-star"></i> Guardar como Favorita
    </button>
  </div>

  <h3>Ciudades Favoritas</h3>
  <ul>
    <li *ngFor="let city of favoriteCities">
      {{ city.name }} - {{ city.temperature }} °C
      <button (click)="removeFavoriteCity(city.name)">Eliminar</button>
    </li>
  </ul>
</div>

