<div>
  <input [(ngModel)]="cityName" placeholder="Cerca città..." class="search-input" />

  <div class="button-container">
    <button (click)="searchWeather()" class="btn btn-primary">Cerca Meteo</button>
    <button (click)="saveFavoriteCity()" class="btn btn-primary">
      <i class="fas fa-star"></i> Preferiti
    </button>
  </div>

  <div class="favorites-card-container mt-3">
    <h4>Città Preferite</h4>
    <div class="favorite-cities-container d-flex flex-wrap">
      <div *ngFor="let city of favoriteCities" class="city-card">
        <div class="city-info">
          <i class="fas fa-star" style="color: gold;"></i>
          {{ city.name }} - {{ city.temperature }} °C
        </div>
        <button (click)="removeFavoriteCity(city.name)" class="remove-btn">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>


