/* Estilos generales */
.search-input {
  max-width: 300px; // Ajusta el tamaño según sea necesario
  margin: 0 auto; // Centra el input
}

.button-container {
  display: flex;
  justify-content: center; // Centra los botones
  gap: 10px; // Espacio entre los botones
}

// Estilo para la lista de ciudades favoritas
.list-group-item {
  display: flex;
  justify-content: space-between; // Alinea el texto y el botón de eliminar
  align-items: center; // Centra verticalmente
}

.search-container {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: flex-start; /* Alinea a la izquierda para que la lista de favoritos quede a la derecha */
}

.button-container {
  margin-top: 10px; /* Espacio entre el input y los botones */
}

.favorites-container {
  display: flex; /* Alinea en horizontal */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en caso de que no quepan en una sola línea */
  gap: 10px; /* Espacio entre las cards */
}

.weather-card {
  display: flex; /* Alinea el contenido horizontalmente */
  justify-content: space-between; /* Espacio entre el nombre de la ciudad y el botón */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 10px; /* Espacio interno para las cards */
}

ul {
  list-style-type: none; /* Elimina el estilo de lista */
  padding: 0; /* Elimina padding por defecto */
  display: flex; /* Usa flex para la lista */
}

li {
  display: flex; /* Para alinear el texto y el botón de eliminar en la misma línea */
  margin-right: 20px; /* Espacio entre las ciudades */
}

button {
  margin-left: 10px; /* Espacio entre el nombre de la ciudad y el botón de eliminar */
}

/* Limitar el número de ciudades a 5 */
li:nth-child(n+6) {
  display: none; /* Oculta elementos adicionales si hay más de 5 */
}

.btn-danger {
  transition: color 0.3s ease; /* Transición suave para el color */
}

.btn-danger:hover {
  color: red; /* Cambia el color a rojo al hacer hover */
}
