<<div>
  <h2>Componente de Búsqueda de Ciudad</h2>
  <input [(ngModel)]="cityName" placeholder="Buscar ciudad" />
  <button (click)="searchWeather()">Buscar Clima</button>
  <button (click)="saveFavoriteCity()">Guardar como Favorita</button>

  <div *ngIf="weatherData">
    <h3>Clima en {{ cityName }}</h3>
    <p>Temperatura: {{ currentTemperature }} °C</p>
    <p>Velocidad del viento: {{ currentWindSpeed }} m/s</p>
    <p>Humedad: {{ currentHumidity }} %</p>
  </div>

  <h3>Ciudades Favoritas</h3>
  <ul>
    <li *ngFor="let city of favoriteCities">{{ city }}</li>
  </ul>
</div>